*{
	margin: 0;
	padding:0;
}
li{
	list-style:none;
}
.box1{
	height:130px;
	width: 100%;
	background-color:white;
	/*position: fixed;*/
	top:0px;
}
.nebx{
	width:100%;
	height:40px;
	background-color:white;
	border-bottom:1px solid #fe6c00;
}
.bx1-1{
	height:130px;
	width:100%;
	background-color:white;
	/*position:fixed;
	top:0px;
	z-index:2;*/
}
.b1-1{
	width:1180px;
	height:170px;
	margin:0 auto;
	/* */
}
.b1-2{
	height:27px;
	width: 1180px;
	background-color:white;
}
.b1-3{
	background-color: #fe6c00;
	height:40px;
	width:585px;
	margin-top:30px;
	float:left;
	margin-left:105px;
}
.b1-4{
	height:40px;
	width:261px;
	background-color:white;
	float:right;
	margin-top:30px;
}
.u2{
	font-size:11.5px;
	list-style: none;
}
.u2 li{
	float:left;
	width:85px;
	height:39px;
	border:1px solid #e6e5e2;
	color:#9a9791;
}
.box2{
	height:895px;
	/*background-color:yellowgreen;*/
	width:1180px;
	margin:0 auto;
}
.s1{
	position:relative;
	margin-top:12px;
	float:left;
}
.u1{
	height:27px;
	/*position:relative;*/
	float:right;
}
.u1 li{
	color:#9a9791;
	line-height:27px;
	font-size:14px;
	float:right;
	list-style:none;
	float: left;
	margin-right:16px;
}
.d1{
	width:590px;
	height:14px;
	/*background-color:pink;*/
	margin-top:80px;
	margin-left:245px;
}
.u3 li{
	color:#9a9791;
	float: left;
	font-size:11px;
	line-height:14px;
	padding-right:10px;
	padding-left:10px;
	border-left:1px solid #e6e5e2;
}
.b1-5{
	width:940px;
	height:40px;
}
.u5 li{
	float:left;
	padding-right:30px;
	padding-left:30px;
	line-height:40px;
}
/*哈哈*/
.bx2{
	height:509px;
	width:123px;
	position:fixed;
	top:0px;
	right:-78px;
	z-index:2;
}
.bx2 div{
	margin-bottom:2px;
}
#id1{
	height:105px;
	width:123px;
	/*background-color:pink;*/
}
#but1{
	background-color:#ff9260;
	border:1px solid white;
	border-radius:3px;
	width:50px;
	height:20px;
	color:white;
}
#id2{
	height:140px;
	width:123px;
	background-color:#ff9260;
}
#id3{
	height:150px;
	width:123px;
	background-color:#ff9260;
}
.id4{
	height:140px;
	width:123px;
	background-color:skyblue;
}
/*第二部分*/
.box3{
	height:544px;
	width:1180px;
	/*margin-top:170px;*/
	/*background-color:pink;*/
}
.b3-1{
	width:170px;
	height:544px;
	background-color:white;
	float:left;
}
.b3-1-1{
	height:425px;
	width: 170px;
	background-color:white;
	border-bottom:1px solid #ffa400;
}
.b3-1-2{
	color:red;
	font-weight:lighter;
	width:25px;
	height:425px;
	background-color: #4c4c4a;
	float:left;
}
.b3-1-3{
	position:absolute;
	width:38px;
	height:125px;
/*	background-color:pink;*/
	float:left;
}
.b3-1-3 img{
	margin-left:8px;
}
.b3-1-4{
	position:absolute;
	width:132px;
	height:125px;
	float:left;
	margin-left:38px;
	font-size:14px;
	color:#855d38;
}
.b3-2{
	width:800px;
	height:544px;
	/*background-color:skyblue;*/
	float:left;
	position:relative;
}
.b3-2-1{
	width:800px;
	height:362px;
	border-bottom:2px solid #ffa600;
}
#outer{
	width:800px;
	height:361px;
	/*background-color:#bfa;*/
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
#imgList{
	list-style:none;
	position:absolute;
}
#imgList li{
	float:left;
}
#navDiv{
	position:absolute;
	bottom:15px;
	text-align:center;
}
#navDiv li{
	display:block;
	float:left;
	width:18px;
	height:18px;
	margin:0 5px;
	background-color:#efeeec;
	border-radius:10px;
	opacity:0.8;
}
.b3-2-2 li{
	float:left;
}
.b3-3{
	width:210px;
	height:544px;
	float:left;
	background-color:white;
	position:relative;
}
.b3-3-1{
	width:210px;
	height:365px;
	/*background-color:#bfa;*/
	margin-bottom:5px;
}
.b3-3-2{
	font-size:14px;
	font-weight:bold;
	color:#fe6c00;
	height:44px;
	width:210px;
	float:left;
	border-bottom: 1px solid #f8f7f6;
	background-color:white;
}
#b3im{
	position:absolute;
	margin-top:12px;
	margin-left:20px;
}
#b3x1{
	margin-top:10px;
	margin-left:48px;
	float:left;
}
#b3x2{
	position:absolute;
	margin-left:170px;
	margin-top:10px;
}
.bx1{
	padding-left:15px;
	font-size:13px;
	width:195px;
	height:313px;
/*	background-color:pink;*/
	margin-top:44px;
	overflow:hidden;
}
.bx1 li{
	margin-top:10px;
	margin-bottom:10px;
}
#im1{
	position:absolute;
	margin-left:15px;
	margin-top:4px;
	margin-right:10px;
}
#sp1{
	position:absolute;
	font-size:12px;
	color:#ff4d04;
	margin-top:4px;
	margin-left:70px;
}
#btn01{
	margin-left:15px;
	margin-top:5px;
	height:25px;
	width:178px;
	color:white;
	background-color:#ff4d04;
	border:none;
	border-radius:5px;
}
.u6{
	font-size:12px;
	float:left;
}
.u6 li{
	padding-left:20px;
	padding-bottom:9px;
	padding-top:8px;
}
/*底部*/
.box4{
	height:180px;
	width:1180px;
	background-color:#f8f7f6;
	border-bottom:1px solid #c7c3c2;
}
.box4-1{
	height:150px;
	width:150px;
	float:left;

	/*background-color:skyblue;*/
}
.box4-2{
	float:left;
	height:130px;
	width:770px;
	margin-top:30px;
	margin-left:85px;
	/*background-color:yellow;*/
}
#u8 ul{
	float: left;
	font-size:12px;
	color:#666560;
	margin-right:66px;
}
#u8 li{
	padding-bottom:10px;
}
#img2{
	float:left;
	position:absolute;
}
#u9{
	position:absolute;
	color:#666560;
	margin-top:15px;
	margin-left:295px;
}
#u9 li{
	padding-left:15px;
	padding-right:15px;
	font-size:12px;
	float:left;
	border-right:1px solid #c7c3c2;
}
#p1{
	font-size:12px;
	color: #9a9791;
	margin-left:318px;
	margin-top:40px;
}
#p2{
	color: #9a9791;
	font-size:12px;
	margin-left:50px;
	margin-top:8px;
}
#p3{
	color: #9a9791;
	font-size:12px;
	margin-top:8px;
	margin-left:500px;
}
#u10{
	margin-top:10px;
	margin-left:200px;
}
#u10 li{
	margin-right:5px;
	float:left;
}
#newbx1{
	height:60PX;
	width:50PX;
	position: absolute;
	margin-left:20px;
	/*background-color:pink;*/
	margin-top:150px;
	overflow:hidden;
	opacity:0.8;
	border-radius:3px;
	display:none;
}
#newbx2{
	height:60PX;
	width:50PX;
	opacity:0.8;
	margin-left:720px;
	margin-top:150px;
	border-radius:3px;
	z-index:3;
	overflow:hidden;
	position: absolute;
	display:none;
	/*background-color:red;*/
}